@model List<ShopOnline.Models.System.User.Dto.UserDto>


<div class="container-fluid px-4">
    <h1 class="mt-4">Users List</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Users</li>
        <li class="breadcrumb-item active">Users List</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" href="/User/Create">Create</a>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>FullName</th>
                        <th>Username</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Username</td>
                            <td>@user.DOB</td>
                            <td>@user.Email</td>
                            <td>@user.Status</td>
                            <td>
                                <a class="btn btn-primary" href="/User/Update?userId=@user.UserId">Edit</a>
                                <a class="btn btn-danger" href="/User/Delete?userId=@user.UserId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>